.row.flex {
  @include flex;
  @include flex-direction(row);
}

.v-center {
  @include justify-content(center);
  @include flex;
  @include flex-direction(column);
}

.flex {
  @include flex;
 
}

.align-items-center {
  @include align-items(center);
}

.justify-content-between {
  @include justify-content(space-between);
}

.justify-center {
  @include justify-content(center);
}

.element {
  display: inline-block;
  padding: 0 8px;
  position: relative;
  .nomos-icon {
    cursor: pointer;
  }
  > a,
  > span {
    display: block;
    &:hover {
      color: $color-hover;
    }
  }
  img {
    vertical-align: middle;
    margin-top: -2px;
  }

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  &.element-user {
    display: none;
    @media (min-width: 1025px) {
      display: inline-block;
    }
  }
  &.element-menu {
    display: none;
    @media (max-width: 1024px) {
      display: inline-block;
    }
  }
  &.element-cart {
    padding-right: 20px;
    padding-left: 0;
  }

  @media (max-width: $screen-md) {
    &.element-account {
      padding-left: 0;
      &:before {
        border: 0;
      }
    }
   
  }
}

.topbar-left .element {
  &:first-child {
    &:before {
      border: 0;
    }
  }
}

.header-center {
  @media (min-width: $screen-md) {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  padding-top: 15px;
  padding-bottom: 15px;
  .col {
    @include flex;

    &.justify-content-center {
      @include justify-content(center);
    }
    &.justify-content-end {
      @include justify-content(flex-end);
    }
    &.flex-column {
      @include flex-direction(column);
    }
  }
  .col2 {
    @media (max-width: 1024px) {
      position: inherit;
    }
    @media (max-width: $screen-sm-max) {
      @include flex;
      flex: 1 1 33.3333%;
      &.justify-content-center {
        @include justify-content(center);
      }
    }
    &.justify-content-end {
      @include justify-content(flex-end);
    }
  }
}

@media (min-width: $screen-lg) {
  .header-top-absolute {
    position: absolute;
    width: 100%;
    z-index: 9;
  }
  
}

// cart count
.count {
  @include circle(18px);
  line-height: 20px;
  display: inline-block;
  text-align: center;
  background: $theme-color;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  top: -8px;
  overflow: hidden;

  right: 0;
  margin: 0;
}

// push




// menu


.menu-level1 {
  display: none;
  &.open {
    display: block;
  }
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    text-align: left;
    @media (min-width: 1025px) {
      padding: 0 22px;
    }
    padding: 12px 20px;
    position: relative;
    display: block;
    @media (max-width: 1024px) {
      border-bottom: 1px solid #e6e6e6;
    }
    @media (min-width: 1025px) {
      float: left;
    }
    > a {
      text-transform: uppercase;
      font-size: 12px;
      @include tracking(100);
      font-weight: bold;
      position: relative;
      padding: 0;
      @media (max-width: 1024px) {
        font-weight: 500;
      }
    }
    &:first-child {
      @media (min-width: 1025px) {
        padding-left: 0;
        > a {
          padding-left: 0;

          &:before {
            border: 0;
          }
        }
      }
    }
  }
}

.header-menu {
  @media (max-width: 1024px) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    background: $white;
    @include transition2;
    z-index: 20;
    &.active {
      transform: translateX(0);
    }
    .navbar-nav {
      margin-top: 45px;
    }
  }

  .close-menu-mobile {
    @media (min-width: 1025px) {
      display: none;
    }
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 102;
    width: 100%;
    line-height: 48px;
    height: 45px;
    text-align: left;
    display: block;
    padding-left: 40px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    background: #dc9814;
    text-transform: uppercase;
    font-weight: 500;
    &:before,
    &:after {
      border-bottom: 1px solid;
      content: "";
      left: 14px;
      position: absolute;
      top: 21px;
      width: 19px;
    }
    &:before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}








//Cart
// Push menu

.pushmenu {
  /*this is the nav*/
  background: $white;
  width: 360px;
  max-width: -webkit-calc(100% - 20px);
  max-width: -moz-calc(100% - 20px);
  max-width: calc(100% - 20px);
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  &.pushmenu-left {
    background: transparent;
    @media (min-width: 480px) {
      width: 380px;
    }
  }
}
.pushmenu-left {
  right: -380px;
}
.pushmenu-left.pushmenu-open {
  right: 0;
  background: #fff;
  z-index: 9999;
}
.pushmenu-push-toright {
  right: 362px;
}
.pushmenu-push-toright-cart {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  @media (min-width: 480px) {
    right: 470px;
  }
  right: 362px;
}
/*Transition*/
.pushmenu,
body {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 5;
  &.search-opened {
    overflow: hidden;
  }
}
.pushmenu-push-toright .wrappage {
  position: relative;
}
.pushmenu-push-toright-cart .wrappage:after {
  position: absolute;
  background: rgba(29, 29, 31, 0.6) none repeat scroll 0 0;
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 999;
  cursor: pointer;
}
@media (max-width: 320px) {
  // cart
  .pushmenu {
    width: 280px;
  }
  .pushmenu-left {
    right: -280px;
  }
  .pushmenu-push-toright-cart {
    right: 280px;
  }
  .pushmenu.pushmenu-left {
    width: 280px;
  }
}
.cart-box-container {
}

.cart-list-heading {
  @include flex;
  @include justify-content(space-between);
  @include align-items(center);

  border-bottom: 1px solid $border-cart-item;
}

.cart-inside {
  position: relative;
  height: calc(100% - 46px);
  overflow: hidden;
}

.cart-list {
  position: relative;
  height: 100%;
  .cart-title {
    font-size: 12px;
    @include tracking(200);
    margin-bottom: 10px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
  }
  .close-menu-mobile {
    cursor: pointer;
    width: 45px;
    height: 45px;
    color: $black;
    border-right: 1px solid $border-cart-item;
    @include transition2;
    &:before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:before,
    &:after {
      border-bottom: 2px solid;
      content: "";
      left: 12px;
      position: absolute;
      top: 21px;
      width: 17px;
    }
    &:hover {
      color: $theme-color;
    }
  }
  .minicart-number-items {
    width: 45px;
    height: 45px;
    line-height: 46px;
    text-align: center;
    border-left: 1px solid $border-cart-item;
    font-weight: 500;
  }
  .list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 118px);
    width: calc(100% + 17px);
    padding: 0 44px;
    margin-bottom: 0;
    background: #f7f7f7;
    margin-top: 0;
    .item-cart {
      flex: 1 1 100%;
      @include flex;
      @include align-items(center);
      padding: 24px 0;
      border-bottom: 1px solid $border-cart-item;
      &:last-child {
        border-bottom: 0;
      }
      .product-img-wrap {
        width: 87px;
        flex: 0 0 87px;
        margin-right: 20px;
      }
      .product-details {
        .inner-left {
          max-width: 180px;
          .product-name {
            font-size: 16px;

            color: $body-text-color;
            font-weight: 400;
            margin-bottom: 5px;
          }
          .product-price {
            font-size: 16px;

            color: #919191;
            margin-bottom: 10px;
          }
          .product-qtt {
            font-size: 12px;
            font-weight: 500;
            @include tracking(200);
          }
        }
      }
    }
  }

  .cart-qtt {
    font-size: 15px;
    font-weight: 600;
    @include flex;
    .product_quantity_number {
      width: 52px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border: 1px solid #f8f5f5;
    }
    .quantity-left-minus {
      width: 40px;
      height: 35px;

      text-align: center;
      margin-right: -1px;
      @include border-radius(0);
      border: 0;
      background: #f8f5f5;
      padding: 0;
      &:focus {
        outline: none;
      }
      &:active {
        box-shadow: none;
      }
    }
    .quantity-right-plus {
      width: 40px;
      height: 35px;

      text-align: center;
      margin-left: -1px;
      @include border-radius(0);
      border: 0;
      background: #f8f5f5;
      padding: 0;
      &:focus {
        outline: none;
      }
      &:active {
        box-shadow: none;
      }
    }
  } // close button
}

.nocart-list {
  .empty-cart {
    display: block;
    position: absolute;
    text-align: center;
    top: 45%;
    @include translateY(-50%);
    width: 100%;
    padding:0 10px;
  }
  .nocart-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 35px;
  }
  
}

.cart-bottom {
  background: #fff;

  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  label {
    font-weight: 400;
  }
  .cart-note-form {
    textarea {
      background-color: #f7f7f7;
      border: 0;
      resize: none;
    }
  }
  .total {
    text-align: right;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    margin-bottom: 30px;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
    span {
      float: left;
    }
  }
  a {
    font-size: 14px;
    font-weight: 500;
  }

  .checkout {
    display: block;
    text-align: center;
    padding: 21px;
  }
  .text {
    color: #9f9e9e;
    text-decoration: underline;
    text-align: center;
    display: block;
    &:hover {
      color: $color-hover;
    }
  }
  .cart-button {
    margin-top: 16px;
    @include flex;
    &:before {
      @include clearfix;
    }
    .nomos-btn {
      width: 50%;
      flex: 0 0 50%;
      font-size: 12px;
      @include tracking(200);
      text-transform: uppercase;
      color: $white;
      &:first-child {
        border-right: 1px solid #2b2b2b;
      }
    }
  }
  .cart-price {
    @include flex;
    @include justify-content(space-between);
    padding: 0 40px;
    span {
      font-size: 16px;
    }
  }
}






// cart popup
.cart {
  padding-right: 25px;
  position: relative;
  @media (min-width: $screen-md) {
    padding-bottom: 20px;
    padding-right: 40px;
  }
}

.header-v3 {
  .nomos-logo {
    @media (min-width: $screen-md) {
      margin-right: 112px;
    }
  }
  @media (min-width: $screen-md) {
    .level1.hassub {
      .menu-level-1 {
        left: 0;
        right: auto;
      }
    }
  }
}
// search
.search-form-wrapper{
  position: fixed;
  background: rgba(255, 255, 255, 1);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
  height: 100vh;
  visibility: hidden;
  transition: opacity 0.5s, visible 0.5s;
  -o-transition: opacity 0.5s, visible 0.5s;
  -webkit-transition: opacity 0.5s, visible 0.5s;
  z-index: 105;
}
.search-form-wrapper.search--open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}
.search-form-wrapper #search-btn {
  position: absolute;
  right: 0;
  top: 8px;
  background-color: transparent;
  padding: 0;
  width: 50px;
  height: 50px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 0;
}
.search-form-wrapper #search-btn i{
  font-size: 32px;
}
.search-form-wrapper #search-btn svg {
  fill: #fff;
}
.search-form-wrapper input.search-input{
  padding: 0;
  height: 51px;
  line-height: 51px;
  width: 100%;
  font-size: 40px;
  position: relative;
  background: transparent;
  border: none;
  font-weight: 300;
  color: #000;
  text-align: center;
  z-index: 1;
}
.search-form-wrapper input.search-input::-webkit-input-placeholder {
  color: #000;
  font-size: 40px;
}
.search-form-wrapper input.search-input:-moz-placeholder{
  color: #000;
  font-size: 40px;
}
.search-form-wrapper input.search-input::-moz-placeholder{
  color: #000;
  font-size: 40px;
}
.search-form-wrapper input.search-input:-ms-input-placeholder {
  color: #000;
  font-size: 40px;
}
.search-form-wrapper .search-form {
  display: table;
  width: 100%;
  position: relative;
}

.search-form-wrapper .search-results-wrapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-justify-content:flex-end;-moz-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end;-ms-flex-pack:flex-end;margin-bottom:100px;}
.search-form-wrapper .btn-search-close{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  right: 25px;
  top: 20px;
  display: block;
  transition: right 0.2s ease 0s;
  -o-transition: right 0.2s ease 0s;
  -webkit-transition: right 0.2s ease 0s;
  cursor: pointer;
  z-index: 9;
}
.search-form-wrapper .btn-search-close i {
  font-size: 50px;
}
.search-form-wrapper .btn-search-close i.black {
  color: #000;
}
.search-form-wrapper{
  .search-results{
    height: calc(100vh - 150px);
    overflow-y: scroll;
    overflow-x:hidden;
    margin-top: 30px;
  }
  .search-results{
    @include clearfix();
    
  }
  .product-collection-grid{
    .col-xs-6{
      @media(min-width:$screen-sm){
        width: calc(100% / 4);
        
       
    
      }
    }
    
  }
   
}
.search-form-wrapper .search-results::-webkit-scrollbar {
  width: 3px;
  background-color:#ddd
}

.search-form-wrapper .search-results::-webkit-scrollbar-thumb {
  background-color:#dc9814;

}
